#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#bind-address		= 127.0.0.1
#
# * Fine Tuning
#
key_buffer		= 32M
max_allowed_packet	= 128M
thread_stack		= 512K
thread_cache_size       = 16
#key_buffer              = 16M
#max_allowed_packet      = 16M
#thread_stack            = 192K
#thread_cache_size       = 8
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover         = BACKUP
#max_connections        = 100
#table_cache            = 64
#thread_concurrency     = 10
#
# * Query Cache Configuration
#
query_cache_limit	= 128M
query_cache_size        = 128M
#query_cache_limit       = 1M
#query_cache_size        = 16M
#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
#general_log_file        = /var/log/mysql/mysql.log
#general_log             = 1
#
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log
#
# Here you can see queries with especially long duration
#log_slow_queries	= /var/log/mysql/mysql-slow.log
#long_query_time = 2
#log-queries-not-using-indexes
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
#server-id		= 1
#log_bin			= /var/log/mysql/mysql-bin.log
expire_logs_days	= 10
max_binlog_size         = 100M
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name
#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem



[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer		= 16M

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
#ADDING ADDITIONAL
#key_buffer_size=8192
flush_time=0
wait_timeout=30
max_connections=500
#myisam_sort_buffer_size=32M
open_files_limit=8192
table_cache=2048
interactive_timeout=30
connect_timeout=120
sort_buffer_size=16M
read_buffer_size=16M
table_open_cache=1024
table_definition_cache=400
join_buffer_size=32M
read_rnd_buffer_size=32M
max_heap_table_size=512M
tmp_table_size=2048M
thread_cache=16M
#thread_chache_size=100
query_cache_type=64M
#query_cache_limit=128M
#query_cache_size=64M
thread_concurrency=3
long_query_time=1
log-queries-not-using-indexes
log_slow_queries=/var/log/mysql-slow.log
record_buffer=32M
back_log=10
binlog_cache_size=32
delayed_insert_timeout=300
delayed_insert_limit=100
delayed_queue_size=1000
slow_launch_time=512k
##thread_stack=256M(DONT USE THIS FOR CURRENT SERVER)
#max_binlog_cache_size=8M
max_connect_errors=1000
max_delayed_threads=20
max_join_size=8M
max_sort_length=1024
max_tmp_tables=128
max_write_lock_count=32M
net_buffer_length=32M
net_retry_count=10
net_read_timeout=120
net_write_timeout=120
#max_allowed_packet=32M
#innodb_max_dirty_pages_pct=0

#ADDED TODAY 21/05/2014
performance_schema=OFF
performance_schema_events_waits_history_long_size=10000
performance_schema_events_waits_history_size=10
performance_schema_max_cond_classes=80
performance_schema_max_cond_instances=1000
performance_schema_max_file_classes=50
performance_schema_max_file_handles=32768
performance_schema_max_file_instances=10000
performance_schema_max_mutex_classes=200
performance_schema_max_mutex_instances=1000000
performance_schema_max_rwlock_classes=30
performance_schema_max_rwlock_instances=1000000
performance_schema_max_table_handles=100000
performance_schema_max_table_instances=50000
performance_schema_max_thread_classes=50
performance_schema_max_thread_instances=1000
query_alloc_block_size=8192
optimizer_search_depth=62
optimizer_switch index_merge=on,index_merge_union=on,index_merge_so rt_union=o n,index_merge_intersection=on,engine_condition_pus
#myisam_data_pointer_size=6
#myisam_max_sort_file_size=9223372036853727232
#myisam_mmap_size=18446744073709551615
#myisam_recover_options=OFF
#myisam_repair_threads=1
#myisam_sort_buffer_size=268435456
#myisam_use_mmap=OFF
#max_allowed_packet=8196902653184
log_queries_not_using_indexes=OFF
large_files_support=ON
large_page_size=0
large_pages=OFF
innodb_adaptive_flushing=ON
innodb_adaptive_hash_index=ON
innodb_additional_mem_pool_size=8388608
innodb_autoextend_increment=8
innodb_autoinc_lock_mode=1
innodb_buffer_pool_instances=1
innodb_buffer_pool_size=6123683840
innodb_change_buffering=all
innodb_checksums=ON
innodb_commit_concurrency=0
innodb_concurrency_tickets=5000
innodb_data_file_path ibdata1:50M:autoextend
innodb_file_format=Antelope
innodb_file_format_check=ON
innodb_file_format_max=Antelope
innodb_file_per_table=OFF
innodb_flush_log_at_trx_commit=1
innodb_flush_method
innodb_force_recovery=0
innodb_io_capacity=500
innodb_large_prefix=OFF
innodb_lock_wait_timeout=50
innodb_locks_unsafe_for_binlog=OFF
innodb_log_buffer_size=8388608
innodb_log_file_size=5242880
innodb_log_files_in_group=2
innodb_max_dirty_pages_pct=75
innodb_max_purge_lag=0
innodb_mirrored_log_groups=1
innodb_old_blocks_pct=37
innodb_old_blocks_time=0
innodb_open_files=900
innodb_purge_batch_size=20
innodb_purge_threads=0
innodb_read_ahead_threshold=56
innodb_read_io_threads=4
innodb_replication_delay=0
innodb_rollback_on_timeout=OFF
innodb_rollback_segments=128
innodb_spin_wait_delay=6
innodb_stats_on_metadata=ON
innodb_stats_sample_pages=8
innodb_strict_mode=OFF
innodb_support_xa=ON
innodb_sync_spin_loops=30
innodb_table_locks=ON
innodb_thread_concurrency=8
innodb_thread_sleep_delay=10000
innodb_use_native_aio=ON
innodb_use_sys_malloc=ON
innodb_write_io_threads=4
key_cache_age_threshold=300
key_cache_block_size=4096
key_cache_division_limit=1000
lock_wait_timeout=31536000
locked_in_memory=OFF
#max_binlog_size=1073741824
max_binlog_stmt_cache_size=18446744073709547520
max_connect_errors=10
max_delayed_threads=20
max_error_count=64
max_heap_table_size=134217728
max_insert_delayed_threads=20
max_join_size=18446744073709551615
max_length_for_sort_data=1024
max_long_data_size=402653184
max_prepared_stmt_count=16382
max_relay_log_size=0
max_seeks_for_key=18446744073709551615
max_sort_length=1024
max_sp_recursion_depth=0
max_tmp_tables=32
max_user_connections=100000
max_write_lock_count=18446744073709551615
min_examined_row_limit=0
multi_range_count=256
tmp_table_size=16777216
tmpdir /tmp
transaction_alloc_block_size=8192
transaction_prealloc_size=4096
tx_isolation REPEATABLE-READ

